.inter-rei {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    max-width: 500px;
    background-color: #111111;
    background-attachment: fixed;
    margin: 30px 30px 30px 30px;
    font: 80%/1.6 "Inter";
    color: #fff;
}

h1,
h2 {
    font-size: inherit;
    color: #AAAAAA;
    margin: 2rem 0 1rem 0;
}

h6 {
    font-size: inherit;
    margin: 2rem 0 1rem 0;
}

a {
    color: #fff;
}

li {
    list-style: none;
}

#statuscafe-username {
    display: none;
}