* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    max-width: 800px;
    background-color: #111111;
    background: radial-gradient(transparent, black), url("images/background.png");
    background-attachment: fixed;
    margin: 10px 30px 10px 30px;
    font-family: monospace;
    font-size: 1rem;
    color: silver;
}

a {
    color: lawngreen;
}

a:visited {
    color: maroon;
    text-decoration-color: maroon;
}

li {
    list-style: none;
}